@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
* {
    box-sizing: border-box;
}

body{
    background-color: #7bdaf3;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.add{
    background-color: #fff;
    margin: 2rem;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0.5rem 1rem;
}

.note{
    width: 500px;
    height: 500px;
    margin: 20px;
    background-color: #fff;
}

.note .tools{
    background-color: #9ec862;
    padding: 0.5rem;
    justify-content: flex-end;
    display: flex;
}

.note .tools button{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.notes .main{
    background-color: #fff;
    height:400px;
    overflow: hidden;
    width: 100%;
}

.note textarea{
    outline: none;
    height: 400px;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
}


.note .hidden{
    display: none;
}

